html { 
  background: url(https://www.google.com/search?q=desktop+size+images&rlz=1C1GCEJ_enIN880IN880&sxsrf=ALeKk03-aUgi4zt5oGyXmHEthGypmT0pNw:1602228904903&tbm=isch&source=iu&ictx=1&fir=Ge5fNs976FZg9M%252CQMy9g29Dry48IM%252C_&vet=1&usg=AI4_-kSe07PHDHE1J9SyawHUsyDpv0Hkhg&sa=X&ved=2ahUKEwje1Obl_6bsAhXszjgGHci8DdAQ9QF6BAgMEEo#imgrc=Ge5fNs976FZg9M) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
